# 기본 유틸 패키지
numpy
opencv-python
matplotlib
Pillow
PyYAML
tqdm
scipy
seaborn
pandas


# YOLOv7 관련
thop
ultralytics
ultralytics-thop

# ONNX 변환 관련
onnx
onnxruntime
onnx-simplifier

# TensorRT (Jetson Orin은 JetPack에 포함, pip 버전도 같이 명시)
nvidia-pyindex
nvidia-pip
nvidia-tensorrt
